<h1 style="text-align: center; font-size: 2rem; color: #333; margin-bottom: 20px;">Edit Profile</h1>
        {% if messages %}
            {% for message in messages %}
            <p style="color: red; text-align: center;">{{ message }}</p>
            {% endfor %}
            {% endif %}
<form method="post" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    {% csrf_token %}
    
    <div style="margin-bottom: 15px;">
        {{ form.name.label_tag }}
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ form.name }}
    </div>

    <div style="margin-bottom: 15px;">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>

    <div style="margin-bottom: 15px;">
        {{ form.first_name.label_tag }}
       &nbsp &nbsp &nbsp{{ form.first_name }}
    </div>

    <div style="margin-bottom: 15px;">
        {{ form.last_name.label_tag }}
        &nbsp &nbsp &nbsp{{ form.last_name }}
    </div>

    <button type="submit" style="padding: 10px 20px; background-color: #9c27b0; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; transition: background-color 0.3s ease;">
        Save
    </button>
</form>

