{% extends 'user/index.html' %}
{% load static%}
{%block head%}
<style>
    {% comment %} .slide-bg {
        background-image: url("{% static 'assets\img\vases\decor_cirle_vases_banner_1.webp' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
    }
     {% endcomment %}
    {% comment %} .slide-bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 1.0); /* Adjust the rgba values for the desired fade */
        z-index: -1;
    } {% endcomment %}
    
</style>
{%endblock head%}
{% block body%}
<main>
    <!--? slider Area Start -->
    <div class="slider-area "  >
        <div class="slider-active" style = 'height:648px;'>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg" style="background-image: url({% static 'assets/img/vases/vase_banner.jpg' %}); height: 300px; background-size: contain;">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms" style='color:white'>Select Your New Perfect Style Vases</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms" style='color:white'>"The beauty of modesty ... a virtue the world doesn't have much truck with: one ordinary flower in a vase, as opposed to a bouquet"</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn" style='color:white'>Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block" >
                            {% comment %} <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'assets/img/vases/Banner 2.jpg' %}" alt="" class=" heartbeat">
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New Perfect Style Vases</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">"The beauty of modesty ... a virtue the world doesn't have much truck with: one ordinary flower in a vase, as opposed to a bouquet"</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'assets/img/vases/banner3.webp' %}" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- ? New Product Start -->
    <section class="new-product-area section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle mb-70">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in new_arrivals%}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-pro mb-30 text-center">
                        <div class="product-img">
                            <img src="{{product.base_image.url}}" alt="">
                        </div>
                        <div class="product-caption">
                            <h3><a href="product_details.html">{{product.name}}</a></h3>
                            <span>Rs.{{product.price}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--  New Product End -->
    <!-- Gallery Area End -->
    <!--? Popular Items Start -->
    <div class="popular-items section-padding30" style = 'margin-top: -230px;'>
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-70 text-center">
                        <h2>Popular Items</h2>
                        <p>"A flowerless room is a soulless room, to my way of thinking; but even a solitary little vase of a living flower may redeem it"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products%}
                
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">
                                <a href="{% url 'product_details' product.id%}">
                                <img src="{{ product.base_image.url }}" alt="">
                                <a/>
                                <div class="img-cap">
                                    <span>Add to cart</span>
                                </div>
                                <div class="favorit-items">
                                    <span class="flaticon-heart"></span>
                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a href="product_details.html">{{ product.name}}</a></h3>
                                <span>Rs.{{product.price}}</span>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}" style="color: red; border-color: red;">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="color: red; border-color: red;">Previous</a>
                    </li>
                    {% endif %}
            
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li class="page-item active">
                                <span class="page-link" style="color: red; border-color: red;">{{ i }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}" style="color: red; border-color: red;">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}" style="color: red; border-color: red;">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="color: red; border-color: red;">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="catagori.html" class="btn view-btn1">View More Products</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    <!--? Watch Choice  Start-->
    <div class="watch-area section-padding30" style = 'margin-top: -230px;'>
        <div class="container">
            <div class="row align-items-center justify-content-between padding-130">
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Vase of Choice</h2>
                        <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a href="shop.html" class="btn">Show Vases</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="{% static 'assets/img/vases/Large Bottle Glass Vase1.webp' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="{% static 'assets/img/vases/Colourful Pedestal Vase Bauhaus Red (Rs.1330).webp' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Vase of Choice</h2>
                        <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a href="shop.html" class="btn">Show Vases</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Watch Choice  End-->
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>
{% endblock body%}